body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.5)), url("/static/css/png/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    padding: 40px 0; 
}

.login-module {
    display: flex;
    flex-direction: row; 
    align-items: stretch; 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
    overflow: hidden;
    border-radius: 20px;
}

.card {
    background: linear-gradient( to bottom, #6b557496 0%, #230f3096 100%);
    height: 430px;
    width: 400px;
    min-width: 400px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px 20px; 
    box-sizing: border-box;
    
}



.heading {
   color: rgb(240, 220, 243);
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;               
    text-align: center;
}

.signin {
    color: rgb(235, 222, 231);
    text-align: center;
    font-size: 20px;
    margin: 0 0 20px 0; 
    font-family:fantasy;
    font-weight: 700;
}

form {
    display: flex; 
    flex-direction: column;
    width: 100%;
    max-width: 280px;
    gap: 15px; 
}

label {
    color: rgb(236, 213, 248);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}


input {
    width: 100%; 
    background-color: rgba(47, 18, 66, 0.322);
    color: white;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgb(154, 106, 190);
    font-weight: 500;
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    padding: 6px 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
input:focus {
        border-color: rgba(172, 42, 204, 0);
        border-bottom: 2px solid rgb(220, 175, 253);
          box-shadow: 0px 0px 8px 2px rgba(230, 93, 248, 0.4);
}
input:hover {
    box-shadow: 0px 0px 8px 2px rgba(230, 93, 248, 0.212);

}

hr {
    color: rgb(52, 28, 70);
    width: 100%;
}
.subbutton {
    width: 250px;
    height: 42px;
    justify-content: center;
    justify-items: center;
    margin: auto;
    text-align: center;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(28, 12, 43) 20%, #9a77a8 100%);
    color: white;
    border-color: rgba(245, 213, 245, 0.651);
    bottom: 10px;
    position: relative;
}

.subbutton:hover {
        background: linear-gradient(to bottom, rgb(71, 36, 104) 20%, #bf99ce 100%);
        text-decoration: underline;
        border-color: rgb(245, 213, 245);
        font-size: 15px;
        box-shadow: 0px 0px 8px 2px rgba(230, 93, 248, 0.281);
         bottom: 14px;
    position: relative;



}


.input-wrapper {
  position: relative;
    display: inline-block; 
    width: 100%; 
    bottom: 9px; 
}

.input-wrapper input {
   width: 100%;
    padding-right: 35px;   
    box-sizing: border-box; 
}




.svg {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 8px;            
    top: 50%;             
    transform: translateY(3%);
    pointer-events: none; 
     
}
.pwdrecov{
    color: #e7d7ee;
    font-size: 15px;
    
}
.pwdrecov1{
    color: #e8d5f0;
    font-size: 15px;
    position: relative;
    bottom: 10px;
    
}
.pwdrecov-wrapper{

    position: relative;
    bottom: 13px;
    left: 20px;

}
.hr-pwd{
    color:rgb(190, 147, 223);
    position: relative;
    bottom: 27px;
}

/* 1. Base State: Hidden by default so it stays closed when the animation ends */
/* 1. Base State: Hidden when there is NO animation running */
.error {
    color: rgb(247, 69, 69);
    background-color: transparent;
    border: none;
    padding: 0px 10px;
    margin: 0;
    font-size: 13px;
    text-align: center;
    border-radius: 20px;
    box-shadow: none;
    
    display: none;
    max-height: 0px;
    overflow: hidden;
    position: relative;
    top: -5px;
}


.toast-message {
    display: block !important; 
    animation: fadeOutMsg 3s ease-in-out forwards;
}


.error:empty {
    display: none !important;
}

@keyframes fadeOutMsg {
    0% {
        opacity: 1;
        max-height: 100px;
        padding: 6px 10px;
        border: 1px solid rgb(247, 69, 69);
        box-shadow: 0px 0px 8px 2px rgba(247, 30, 30, 0.5);
        margin-bottom: 0px;
    }
    80% {
        opacity: 1;
        max-height: 100px;
        padding: 6px 10px;
        border: 1px solid rgb(247, 69, 69);
        box-shadow: 0px 0px 8px 2px rgba(247, 30, 30, 0.5);
        margin-bottom: 0px;
    }
    99% {
        opacity: 0;
        max-height: 0px;
        padding: 0px 10px;
        border: 0px solid transparent;
        box-shadow: none;
        margin-bottom: -15px; 
    }
    100% {
        opacity: 0;
        max-height: 0px;
        padding: 0px 10px;
        border: none;
        box-shadow: none;
        margin-bottom: -20px;
    }
}


.error1 {
    color: rgb(63, 163, 79);
    background-color: transparent;
    border: none;
    padding: 0px 10px;
    margin: 0;
    font-size: 13px;
    text-align: center;
    border-radius: 20px;
    box-shadow: none;
    
    display: none;
    max-height: 0px;
    overflow: hidden;
    position: relative;
    top: -5px;
}


.toast-message1 {
    display: block !important; 
    animation: fadeOutMsg1 3s ease-in-out forwards;
}


.error1:empty {
    display: none !important;
}

@keyframes fadeOutMsg1 {
    0% {
        opacity: 1;
        max-height: 100px;
        padding: 6px 10px;
        border: 1px solid rgb(63, 163, 79);
        box-shadow: 0px 0px 8px 2px rgba(4, 233, 35, 0.651);
        margin-bottom: 0px;
    }
    80% {
        opacity: 1;
        max-height: 100px;
        padding: 6px 10px;
        border: 1px solid rgb(63, 163, 79);
        box-shadow: 0px 0px 8px 2px rgba(4, 233, 35, 0.651);
        margin-bottom: 0px;
    }
    99% {
        opacity: 0;
        max-height: 0px;
        padding: 0px 10px;
        border: 0px solid transparent;
        box-shadow: none;
        margin-bottom: -15px; 
    }
    100% {
        opacity: 0;
        max-height: 0px;
        padding: 0px 10px;
        border: none;
        box-shadow: none;
        margin-bottom: -20px;
    }
}




