<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age-Weaver/Login</title>

  
<link rel="stylesheet" href="/static/css/forgottenPwd.css?v=1.1">
<body>
 <div class="container">
     <h1 class="heading"> Recover Account </h1>

        <div class="login-module">

            <div class="card">
                <p class="signin"> Verify Email</p>
                <div class="pwdrecov-wrapper">
                <p class="pwdrecov"> Enter the email address associated with your account.</p>
                <p class="pwdrecov1"> We will send you a 6-digit verification code to reset your password.</p>

                </div>
                <hr class="hr-pwd">
              <form action="/forgot" method="post">                   
                 
                    <div class="input-wrapper">
                         <label>Enter your Email:</label>
                    <input type="email" name = "email" placeholder="email@example.com" required >
                    <img class="svg" src="/static/SVG/email.svg" alt="User icon">


                    </div>
                    {{if .Error}}
                    <p class="error toast-message">{{.Error}}</p>
                    {{end}}
                    <button  class="subbutton" type="submit"> Send</button>
                    
                </form>
            </div>
           
        </div>
    </div> 

</body>