<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age-Weaver/Login</title>

  
<link rel="stylesheet" href="/static/css/signIn.css"></head>
</head>
<body>
 <div class="container">
     <h1 class="heading"> Welcome!</h1>

        <div class="login-module">

            <div class="card">
                <p class="signin"> Login</p> 
                <form action="/submit" method="post">
                   
                  <label><i>Email</i> </label>
                    <div class="input-wrapper">
                    <input type="email" name = "email" placeholder="Enter email" required >
                    <img class="svg" src="/static/SVG/email.svg" alt="User icon">


                    </div>
                    
                    <br><br>
                     <label><i>Password</i> </label>

                     <div class="input-wrapper">
                    <input type="password" name = "pwd" placeholder="Enter Password" >
                    <img class="svg" src="/static/SVG/password-lock.svg" alt="User icon">


                     </div>
                    <br><br>
                    <hr>
                    <button  class="subbutton" type="submit"> Login</button>
                     <button  class="resbutton" type="reset"> reset</button>
                     
                     <p class="footertxt"> Don't have an Account? <a class="footerlink" href="/"> Sign in </a></p>

                    
                </form>
            </div>
            <div class="cardimg">              
                <p class="imgtxt"> Age-Weaver</p>
              
                <p class="imgtxtsub"><em> know your exact Age..</em> </p>
            </div> 
        </div>
    </div> 

</body>