<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age-Weaver/sign in</title>

  
    <link rel="stylesheet" href="signIn.css">
</head>
<body>      
    <div class="container">
     <h1 class="heading"> Welcome!</h1>

        <div class="login-module">

            <div class="card">
                <p class="signin"> Sign in</p> 
                <form action="\signin" method="post">
                    <label><i>Name</i></label>
                    <div class="input-wrapper">
                        <input name="username" type="text" id="name" placeholder="Enter name" required> 
                        <img class="svg" src="SVG/user.svg" alt="User icon">
                    
                    </div>
                    <br><br>
                     <label><i>Phone</i> </label>
                     <div class="input-wrapper">
                     <input name="phone" type="text" id = "phone" placeholder="Enter phone number" required>
                    <img class="svg" src="SVG/phone.svg" alt="User icon">

                     </div>
                    <br><br>
                    <label><i>Email</i> </label>
                    <div class="input-wrapper">
                    <input name="email" type="email" id = "email" placeholder="Enter email" required >
                    <img class="svg" src="SVG/email.svg" alt="User icon">


                    </div>
                    
                    <br><br>
                     <label><i>Password</i> </label>

                     <div class="input-wrapper">
                    <input name="password" type="password" id = "pwd" placeholder="Enter Password" >
                    <img class="svg" src="SVG/password-lock.svg" alt="User icon">


                     </div>
                    <br><br>
                    <hr>
                    <button  class="subbutton" type="submit"> Create Account</button>
                     <button  class="resbutton" type="reset"> reset</button>
                     
                     <p class="footertxt"> Already have an account? <a class="footerlink" href=""> Login </a></p>

                    
                </form>
            </div>
            <div class="cardimg">              
                <p class="imgtxt"> Age-Weaver</p>
              
                <p class="imgtxtsub"><em> know your exact Age..</em> </p>
            </div> 
        </div>
    </div> 

</body>

</html>
